---
layout: default
title: Luba's website for thoughts + projects + meditation reflections + travel notes + plants appreciation
---
<!-- title-->
 

 	<div class= "row">
 	
	  	<div class = "container col-sm-8"> 
	  		{% for post in site.posts %}
		        <div class="row panel panel-success">
		        <!-- for header -->
		            <div class = "panel-heading"> 
		            	<p> {{post.title}} </p>
		            	<time>{{ post.date | date: "%b %-d, %Y" }}</time>
		            </div>
		            <div class="panel-body">
		            	{{post.content}}
		            </div>
		        </div>
	        {% endfor %}
	    </div>
		

		<!-- tags -->
       	<div class = "col-sm-4"> 
          	<div class="panel panel-success">
	            <div class="panel-body">
	            {% for page in site.pages%}
	            	<a href = {{page.link}}> {{page.tag}}</a>
	            {% endfor %}
	<!--               <a> #quote </p>
	              <p> #think </p>
	 -->        </div>
        	</div>
       </div>
 
    </div>